<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../image/malaria_banner.jpg" class="img-responsive">
            </div>
            <div class="col-md-6">
                <h1 class="text-info">Malaria App
                    <small>&nbsp;IOS</small>
                </h1>
                <h3 class="text-primary">A subtitle</h3>
                <p class="text-justify text-primary">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                    dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                    nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
                    enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                    felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
                    elementum semper nisi.
                    <br>
                    <br>
                </p>
                <div class="row">
                    <div class="col-md-12">
                        <a href="https://github.com/systers/malaria-app-ios" target="_blank"><i class="fa fa-2x fa-fw fa-github"></i></a>
                        <a href="#"><i class="fa fa-2x fa-envelope-o fa-fw"></i></a>
                        <a href=" http://systers.io/slack-systers-opensource/" target="_blank"><i class="fa fa-2x fa-fw fa-slack"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>