<div class="cover" id="home">
	<div class="background-image-fixed cover-image">
	</div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section text-left">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h1>Peace Corps</h1>
                                <p></p>
                                <p class="hidden-xs text-justify">Lorem ipsum dolor sit amet, consectetur adipisici elit sit am
                                    <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enimad minim veniam, quis nostrud eiusmod tem
                                </p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn btn-block btn-danger" href="login.html">Sign In</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a class="btn btn-block btn-danger">Sign Up</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-text" id="web-apps">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            	<%= image_tag 'desktop', :class => "img-responsive" %>
            </div>
            <div class="col-md-6">
                <h1 class="text-primary">Peace Corps Web Applications</h1>
                <h3>A subtitle</h3>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                    dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                    nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
                    enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                    felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
                    elementum semper nisi.</p>
            </div>
        </div>
    </div>
</div>