<div class="section">
  <div class="row">
    <div class="container">
      <div class="page-header">
        <h2>Create your account</h2>
      </div>
      <%= render :partial => 'form' %>
    </div>
  </div>
</div>
